* {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Yu Gothic, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #e6e6e6;
   color: #4b4b4b;
}

header {
   padding: 0% 5% 5%;
   position: fixed;
   top: 0;
   height: 5rem;
   width: 100%;
   background-color: #fff;
   display: flex;
   align-items: baseline;
}

a {
   text-decoration: none;
   color: #4b4b4b;
}

ul {
   list-style: none;
   margin: 0;
   display: flex;
}

li {
   margin: 0 0 0 0;
   font-size: 1.5rem;
}

nav {
   display: flex;
   justify-content: space-between;
   text-align: center;
   margin: 0 10% 0 auto;
}

#gnav > li {
   position: relative;
   width: 100%;
}

#gnav li ul {
   display: block;
   margin-left: 0rem;
   margin-right: 0;
   padding-left: 0;
}

#gnav li a {
   height: 0;
   line-height: 0;
}

#gnav li li {
   height: 0rem;
   overflow: hidden;
   border-right: 100% solid;
   font-size: 1.2rem;
   background-color:rgba(255, 255, 255, 200);
}

#gnav li:hover {
   background-color: #e6e6e6;
}
#gnav li:hover li {
   height: 2.3rem;
   overflow: visible;
}

.content {
   padding: 6rem 4% 10%;
}

footer {
   padding: 1rem 4% 1rem;
   position: fixed;
   bottom: 0;
   justify-content: center;
   width: 100%;
   background-color: #fff;
   display: flex;
   align-items: center;
   font-size: 0.8rem;
}

.link {
   color: #5c18b6;
}

table{
   width: 40%;
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 table th,table td{
   padding: 0.3rem 0 0.3rem 1rem;
 }
 
 table tr:nth-child(odd){
   background-color: #eee
 }